<html><head>
<style>
  .red-top, .red-bottom {
    left: 0 !important;
    width: 100% !important;
    background-repeat: repeat !important;
  }

  @page {
    /* Page size and sheet size */
    size: 824px 1181px;
    margin: 0;
    padding: 0;
    -ro-scale-content: auto;
    -ro-bleed-width: 50px;

    /* Marks configuration */
    -ro-marks: trim bleed registration;
    -ro-marks-width: 1pt;
    -ro-marks-color: black;
  }

</style>
<link rel="stylesheet"
      href="https://storage.googleapis.com/cb-public-gallery/print_layouts/5df219c6aacfeb0018ac4538/css/style.css"
      type="text/css"/><link rel="stylesheet"
                             href="https://storage.googleapis.com/cb-public-gallery/print_layouts/5df219c6aacfeb0018ac4538/css/portrait.css"
                             type="text/css"/></head>
<body><div class="banner">
  <div class="container" id="container">
    <div class="logo"><img
            src="https://storage.googleapis.com/cb-public-gallery/print_layouts/5df219c6aacfeb0018ac4538/assets/images/logo.png"
            alt=""></div>
    <div class="title1 title">
      <div class="text inline" id="title1">
        COME &amp; BEBE
      </div>
    </div>
    <div class="title2 title">
      <div class="text inline" id="title2">
        TODO LO QUE QUIERAS POR SOLO
      </div>
    </div>
    <div id="offer" class="offer">
      <div class="text1"><span id="price">8,95</span> <span class="currency inline">€</span></div>
      <div class="text2">
        <span class="inline" id="offer-text">POR PERSONA</span>
      </div>
    </div>
    <div class="legal" id="legal">Promoción valida en Local. Mínimo dos personas o abono equivalente a dos personas. Todas las personas que se sienten en la mesa deben pagar el servicio buffet, incluidas, las personas que se incorporen más tarde a la mesa. Por el precio indicado se incluyen pizzas de tres ingredientes o especialidad de masa pan, tradicional o fina (suplemento de 3 € si desean masa Rolling Pizza o Cheesy Pop Pizza), con refrescos de grifo ilimitados o agua embotellada 1ud. cerveza 1 ud. Es necesario terminar por completo una ronda para poder comenzar con la siguiente. Niños entre 3-6 años pueden disfrutar del servicio buffet por el precio de 5,50 €. Niños menores de 3 años no pagarán. No está permitido llevarse producto sobrante. Horario: de lunes a jueves de 13:00 a 23:00 h. y viernes, sábado, domingo, vísperas y festivos de 13:00 a 16:00 h. No acumulable a otras ofertas. Pizzas sin gluten no incluidas en la promoción. IVA incluido en el precio.</div>
    <div class="red-top"></div>
    <div class="red-bottom"></div>
  </div>
</div></body></html>